@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-weight: 700;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #dce9cc;
}

a {
  color: #008e39;
  text-decoration: none;
}

img {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700 !important;
}

h2, h3 {
  font-size: 5.5rem;
}

p {
  font-size: 1.8rem;
}

.amatic {
  font-family: "Amatic SC", sans-serif !important;
  font-weight: 700 !important;
}

.opensans {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400 !important;
}

.text-shadow {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.button {
  align-items: center;
  background-color: #008e39;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Amatic SC", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  padding: 15px;
  transition-duration: 0.3s;
}
.button:hover {
  background-color: #005b25;
  transition-duration: 0.3s;
}

footer {
  display: block;
  position: relative;
  font-size: 1.5rem;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
footer .footer-links {
  grid-area: 1/2/2/5;
  display: flex;
  justify-content: center;
}
footer .footer-links a {
  color: black;
  padding: 20px 30px 0px 30px;
}
footer ul {
  grid-area: 1/5/2/6;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer li {
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

#nav {
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 100;
  user-select: none;
}
#nav #hamburger {
  align-items: center;
  cursor: pointer;
  display: none;
  float: right;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  margin-top: 5px;
  margin-right: 50px;
  width: 50px;
}
#nav #hamburger span {
  height: 4px;
  background-color: black;
  width: 100%;
  border-radius: 9px;
  margin-top: 11px;
}
#nav a {
  color: black;
  z-index: 99;
  cursor: pointer;
  display: inline-flex;
  transition-duration: 0.3s;
}
#nav .logo {
  width: 70px;
  margin-left: 50px;
  padding: 8px;
  z-index: 2;
}
#nav ul.navigation {
  margin: 0px;
  margin-right: auto;
  padding: 0px 50px;
  z-index: 2;
}
#nav ul.navigation li {
  display: inline-block;
  font-size: 3.8rem;
  list-style: none;
  padding: 0px 15px;
}
#nav ul.navigation li a:hover {
  color: #008e39;
}
#nav ul.icons {
  height: 34px;
  margin: 0px;
  padding: 0px;
}
#nav ul.icons li {
  display: inline-block;
  font-size: 2.4rem;
  list-style: none;
  padding: 0px 15px;
}
#nav ul.icons li svg {
  width: 50px;
  transition-duration: 0.3s;
}
#nav ul.icons li svg:hover {
  fill: #008e39;
}
#nav ul.icons li img:hover {
  opacity: 80%;
}
#nav.sticky {
  position: sticky;
  top: 0px;
}
#nav.open .navigation {
  display: flex;
  justify-content: center;
}
#nav.open .icons {
  display: flex;
  justify-content: center;
  height: 85px;
  padding: 20px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 1024px) {
  #nav {
    height: auto;
    display: block;
  }
  #nav #hamburger {
    display: flex;
  }
  #nav .navigation {
    background-color: white;
    display: none;
  }
  #nav .icons {
    background-color: white;
    display: none;
  }
}

.roundedImage {
  border-radius: 100%;
}

.spacerS {
  display: block;
  height: 15px;
  width: 100%;
}

.spacerM {
  display: block;
  height: 30px;
  width: 100%;
}

.spacerL {
  display: block;
  height: 50px;
  width: 100%;
}

.wave {
  content: " ";
  left: 0;
  position: absolute;
  width: 100%;
  transform-origin: top;
  z-index: 1;
}
.wave.top {
  bottom: 99%;
}
.wave.bottom {
  top: 99%;
}

@media only screen and (min-width: 1024px) {
  .categorySlider li[style*="order: 1;"] img {
    width: 0%;
  }
  .categorySlider li[style*="order: 2;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 3;"] img {
    width: 80%;
  }
  .categorySlider li[style*="order: 4;"] img {
    width: 100%;
  }
  .categorySlider li[style*="order: 5;"] img {
    width: 80%;
  }
  .categorySlider li[style*="order: 6;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 7;"] img {
    width: 0%;
  }
}
@media only screen and (max-width: 1024px) {
  .categorySlider li[style*="order: 1;"] img {
    width: 0%;
  }
  .categorySlider li[style*="order: 2;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 3;"] img {
    width: 80%;
  }
  .categorySlider li[style*="order: 4;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 5;"] img {
    width: 0%;
  }
}
@media only screen and (max-width: 767px) {
  .categorySlider li[style*="order: 1;"] img {
    width: 0%;
  }
  .categorySlider li[style*="order: 2;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 3;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 4;"] img {
    width: 0%;
  }
}
.categorySlider .transition img {
  transition: width 0.5s ease;
}
@media only screen and (min-width: 1024px) {
  .categorySlider .transition.left[style*="order: 2;"] {
    opacity: 0%;
  }
  .categorySlider .transition.left[style*="order: 2;"] img {
    width: 0%;
  }
  .categorySlider .transition.left[style*="order: 3;"] img {
    width: 60%;
  }
  .categorySlider .transition.left[style*="order: 4;"] img {
    width: 80%;
  }
  .categorySlider .transition.left[style*="order: 5;"] img {
    width: 100%;
  }
  .categorySlider .transition.left[style*="order: 6;"] img {
    width: 80%;
  }
  .categorySlider .transition.left[style*="order: 7;"] img {
    width: 60%;
  }
}
@media only screen and (max-width: 1024px) {
  .categorySlider .transition.left[style*="order: 2;"] {
    opacity: 0%;
  }
  .categorySlider .transition.left[style*="order: 2;"] img {
    width: 0%;
  }
  .categorySlider .transition.left[style*="order: 3;"] img {
    width: 60%;
  }
  .categorySlider .transition.left[style*="order: 4;"] img {
    width: 80%;
  }
  .categorySlider .transition.left[style*="order: 5;"] img {
    width: 60%;
  }
}
@media only screen and (max-width: 767px) {
  .categorySlider .transition.left[style*="order: 2;"] {
    opacity: 0%;
  }
  .categorySlider .transition.left[style*="order: 2;"] img {
    width: 0%;
  }
  .categorySlider .transition.left[style*="order: 3;"] img {
    width: 60%;
  }
  .categorySlider .transition.left[style*="order: 4;"] img {
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .categorySlider .transition.right[style*="order: 1;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 2;"] img {
    width: 80%;
  }
  .categorySlider .transition.right[style*="order: 3;"] img {
    width: 100%;
  }
  .categorySlider .transition.right[style*="order: 4;"] img {
    width: 80%;
  }
  .categorySlider .transition.right[style*="order: 5;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 6;"] {
    opacity: 0%;
  }
  .categorySlider .transition.right[style*="order: 6;"] img {
    width: 0%;
  }
}
@media only screen and (max-width: 1024px) {
  .categorySlider .transition.right[style*="order: 1;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 2;"] img {
    width: 80%;
  }
  .categorySlider .transition.right[style*="order: 3;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 4;"] {
    opacity: 0%;
  }
  .categorySlider .transition.right[style*="order: 4;"] img {
    width: 0%;
  }
}
@media only screen and (max-width: 767px) {
  .categorySlider .transition.right[style*="order: 1;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 2;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 3;"] {
    opacity: 0%;
  }
  .categorySlider .transition.right[style*="order: 3;"] img {
    width: 0%;
  }
}

* {
  box-sizing: border-box;
}

.categorySlider {
  margin: auto;
  display: flex;
  align-items: center;
  place-content: center;
}
.categorySlider .slider {
  height: 500px;
  overflow: hidden;
  width: 60vw;
}
.categorySlider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
@media only screen and (min-width: 1024px) {
  .categorySlider ul {
    transform: translateX(-20%);
  }
}
@media only screen and (max-width: 1024px) {
  .categorySlider ul {
    transform: translateX(-33.3333333333%);
  }
}
@media only screen and (max-width: 767px) {
  .categorySlider ul {
    transform: translateX(-50%);
  }
}
.categorySlider li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .categorySlider li {
    width: 20%;
  }
}
@media only screen and (max-width: 1024px) {
  .categorySlider li {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 767px) {
  .categorySlider li {
    width: 50%;
  }
}
.categorySlider li h3 {
  color: black;
  font-size: 3rem;
  margin: 0px;
  width: 100%;
  overflow: hidden;
}
.categorySlider button {
  background-color: transparent;
  border: none;
}
.categorySlider .prev,
.categorySlider .next {
  height: 60px;
  width: 60px;
  min-width: 60px;
  background-color: #008e39;
  border-radius: 50%;
}
.categorySlider .prev img,
.categorySlider .next img {
  width: 100%;
  transform: translateY(3px);
}
.categorySlider .prev {
  transform: rotate(90deg);
}
.categorySlider .next {
  transform: rotate(-90deg);
}
.categorySlider .transition {
  transition: all 0.5s ease;
}
.categorySlider .transition.left {
  transform: translateX(-100%);
}
.categorySlider .transition.right {
  transform: translateX(100%);
}

header {
  max-height: calc(100vh - 80px);
  overflow: hidden;
  position: relative;
}
header img.hero {
  filter: blur(8px) brightness(110%);
  margin-left: -15px;
  width: calc(100% + 30px);
}
header img.hero a {
  color: #008e39;
}
header .headerLeaf {
  position: absolute;
  filter: blur(5px);
}
header .headerLeaf:nth-of-type(1) {
  top: 0;
}
header .headerLeaf:nth-of-type(2) {
  top: 20vh;
  left: 80vw;
}
header .headerLeaf:nth-of-type(3) {
  top: 40vh;
  left: 40vw;
}
header .logoWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: 0% auto;
  position: absolute;
  right: 0;
  top: 25%;
  transform: translateY(-50%);
}
header .logoWrap .button {
  border-radius: 25px;
  font-size: 4rem;
  height: 100px;
  width: 200px;
}
header .logoWrap .heroLogo {
  margin-bottom: 30px;
}
header h2 {
  color: #ffffff;
  font-size: 5.5rem;
  text-align: center;
  margin-bottom: 40px;
}
header .header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
}
@media only screen and (min-width: 2000px) {
  header .header {
    top: 45%;
  }
}
header .header form {
  margin: auto;
}
header .header .button {
  font-size: 2.5rem;
  margin-top: 20px;
}
@media only screen and (max-width: 1024px) {
  header .header {
    display: none;
  }
}
header .about-wrapper {
  left: 0;
  margin-left: 10vw;
}
header .product-wrapper {
  right: 0;
  margin-right: 10vw;
}
header .textbox {
  width: 30vw;
  height: 265px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  font-size: 2rem;
  opacity: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
header .textbox p {
  margin: 0px;
}
header .socials {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
}
header .socials img {
  padding: 15px;
}
header .scrollDown {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: auto;
  background: url("../img/icons/ic_arrow.svg") rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  transform: rotate(270deg);
  transition-duration: 0.3s;
}
header .scrollDown:hover {
  opacity: 50%;
}

.imageWrap {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: white;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.productContainer {
  width: fit-content;
  user-select: none;
}
.productContainer form {
  display: inline-block;
}
.productContainer button {
  height: fit-content;
  padding: 0px;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease-in-out;
}
.productContainer button:hover {
  transform: scale(1.1);
}
.productContainer .product {
  display: inline-block;
  width: fit-content;
  margin: 0px 15px;
  cursor: pointer;
}
.productContainer .product h3 {
  color: #ffffff;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  width: 150px;
  height: 60px;
  user-select: text;
}
.productContainer .product p {
  color: #ffffff;
  font-size: 2.8rem;
  margin: 0;
  user-select: text;
}
.productContainer .product .image-wrapper {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  background-color: #ffffff;
  overflow: hidden;
}
.productContainer .product .image-wrapper .image {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

section {
  position: relative;
  background-color: white;
  padding-top: 85px;
  width: 100%;
}
section h2,
section h3 {
  text-align: center;
}
section .logo {
  display: inline-block;
  vertical-align: middle;
  margin-top: -35px;
}
section ul.navigation {
  display: inline-block;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  justify-content: start;
  margin: 0;
  align-items: center;
  flex-direction: row;
}
section ul.navigation li {
  display: inline-block;
  font-size: 2.4rem;
  list-style: none;
  padding: 15px;
}
section a {
  color: black;
}
section ul.icons {
  float: right;
  flex-direction: row;
}
section ul.icons li {
  display: inline-block;
  font-size: 2.4rem;
  list-style: none;
  padding: 15px;
}
section .circleWrap {
  margin: 0 auto;
  position: relative;
  width: 575px;
}
@media only screen and (max-width: 767px) {
  section .circleWrap {
    width: 450px;
  }
}
section .circleWrap #imgDrinkingTea {
  position: absolute;
  top: 10%;
  right: 510px;
}
@media only screen and (max-width: 767px) {
  section .circleWrap #imgDrinkingTea {
    display: none;
  }
}
section .circleWrap .circle {
  align-items: center;
  background-color: white;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  height: 575px;
  justify-content: center;
  padding: 70px;
  position: relative;
  width: 575px;
}
@media only screen and (max-width: 767px) {
  section .circleWrap .circle {
    height: 450px;
    width: 450px;
  }
}
section .circleWrap .circle h3 {
  font-size: 5rem;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  section .circleWrap .circle h3 {
    margin: 10px;
  }
}
section .circleWrap .circle p {
  font-size: 1.8rem;
  text-align: center;
}
section .bubble {
  background: #ffffff;
  border-radius: 100%;
  height: 50px;
  position: absolute;
  width: 50px;
}
section .bubble:nth-child(2) {
  background-color: #dce9cc;
  right: 30vw;
  bottom: 250px;
}
@media only screen and (max-width: 1024px) {
  section .bubble:nth-child(2) {
    right: 30vw;
    bottom: 120px;
  }
}
section .bubble:nth-child(3) {
  background-color: #dce9cc;
  right: 26vw;
  transform: scale(2);
  bottom: 180px;
}
@media only screen and (max-width: 1024px) {
  section .bubble:nth-child(3) {
    right: 13vw;
    bottom: 80px;
  }
}
section .value-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
section .value-wrapper .value-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 150px;
  margin: 0px 30px;
  width: 20%;
}
section .value-wrapper .value-block h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0;
}
section .value-wrapper .value-block p {
  margin-top: 0;
}
section .value-wrapper + a {
  display: flex;
  justify-content: center;
  margin: 100px 0px 0px 0px;
}
section .testimonial-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .testimonial-wrapper div {
  margin: 0px 0px 0px 200px;
}

.textured {
  background: #fff4df url("../img/leaf_texture.png");
  height: 800px;
  padding-top: 85px;
}

.green {
  background-color: #dce9cc;
  height: 800px;
}
.green h1 {
  text-align: center;
  font-size: 5.5rem;
}

.white {
  background-color: white;
  height: 800px;
  padding-top: 85px;
}
.white h1 {
  text-align: center;
  font-size: 5.5rem;
  color: black;
}

.texturedGreen {
  background: #dce9cc url("../img/leaf_texture.png");
  height: 800px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.texturedGreen p {
  text-align: center;
  font-size: 2.5rem;
}

.color-green {
  background-color: #dce9cc;
}

/*Leaves*/
#leaf {
  position: absolute;
  top: 0px;
  transform: scale(0.8);
}

#leaf2 {
  position: absolute;
  top: 0px;
  transform: translateY(-160px) rotate(-50deg) scale(0.6);
  z-index: 2;
  left: 200px;
}

#leaf3 {
  position: absolute;
  top: 350px;
  transform: scale(0.6) rotate(-140deg);
  z-index: 2;
  left: 200;
}

#leaf4 {
  position: absolute;
  top: 0px;
  transform: translateY(-160px) rotate(-50deg);
  z-index: 2;
  right: 200px;
}

#leaf5 {
  position: absolute;
  top: 852px;
  transform: translateY(-160px);
  z-index: 2;
  right: 200px;
}

.search {
  display: flex;
  width: fit-content;
  height: 50px;
  margin: 100px auto;
}
.search input {
  min-width: 20vw;
  max-width: 80vw;
  font-size: 1.8rem;
  padding: 0px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.search input:focus {
  outline: none;
}
.search button {
  width: 5vw;
  min-width: 100px;
  font-size: 1.8rem;
  margin-left: 10px;
  padding: 0px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.categoryContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.categoryContainer form {
  display: inline-block;
  margin: 0px 20px;
}
.categoryContainer form.selected button {
  opacity: 100%;
}
.categoryContainer button {
  width: 10vw;
  border: none;
  border-radius: 40px;
  background-color: #ffffff;
  cursor: pointer;
  opacity: 80%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.categoryContainer button:hover {
  transform: scale(1.1);
  opacity: 100%;
}
.categoryContainer .category {
  display: flex;
}
.categoryContainer .category h3 {
  width: 100%;
  font-size: 3rem;
  margin: 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
.categoryContainer .category .image-wrapper {
  width: 60px;
  display: block;
  overflow: hidden;
  margin-left: 5px;
}
.categoryContainer .category .image-wrapper .image {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.currentCategory {
  text-align: center;
  margin: 100px 0px;
  font-size: 5rem;
}

.productsContainer {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20vw);
  justify-content: center;
}
.productsContainer form {
  margin: 10px;
}
.productsContainer button {
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 40px;
  overflow: hidden;
}
.productsContainer .product h3 {
  font-size: 3.4rem;
  margin: 0px;
  padding: 10px;
  height: 100px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  place-content: center;
  margin-top: -40px;
}
.productsContainer .product p {
  margin: 0px;
  padding: 10px;
  padding-top: 0px;
  font-size: 1.5rem;
}
.productsContainer .product .image-wrapper {
  width: 80%;
  margin: auto;
}
.productsContainer .product .image-wrapper .image {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
