@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-weight: 700;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #dce9cc;
  min-height: 100vh;
}

a {
  color: #008e39;
  text-decoration: none;
}
a:hover {
  font-weight: 700;
}

img {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700 !important;
}

h2, h3 {
  font-size: 5.5rem;
}

p {
  font-size: 1.8rem;
}

.amatic {
  font-family: "Amatic SC", sans-serif !important;
  font-weight: 700 !important;
}

.opensans {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400 !important;
}

.text-shadow {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}

.button {
  align-items: center;
  background-color: #008e39;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Amatic SC", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  padding: 15px;
  transition-duration: 0.3s;
}
.button:hover {
  background-color: #005b25;
  transition-duration: 0.3s;
}

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  font-size: 1.5rem;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer-links {
  height: 60px;
  display: flex;
  justify-content: center;
}
footer .footer-links a {
  color: black;
  padding: 20px 30px 0px 30px;
  text-align: center;
  width: 150px;
}
footer .footer-links a:hover {
  font-weight: 700;
}
footer ul {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}
footer li {
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

main {
  min-height: calc(100vh - 170px) !important;
}

#nav {
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 100;
  user-select: none;
}
#nav #hamburger {
  align-items: center;
  cursor: pointer;
  display: none;
  float: right;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  margin-top: 5px;
  margin-right: 50px;
  width: 50px;
}
#nav #hamburger span {
  height: 4px;
  background-color: black;
  width: 100%;
  border-radius: 9px;
  margin-top: 11px;
}
#nav a {
  color: black;
  z-index: 99;
  cursor: pointer;
  display: inline-flex;
  transition-duration: 0.3s;
}
#nav .logo {
  width: 70px;
  margin-left: 50px;
  padding: 8px;
  z-index: 2;
}
#nav ul.navigation {
  margin: 0px;
  margin-right: auto;
  padding: 0px 50px;
  z-index: 2;
}
#nav ul.navigation li {
  display: inline-block;
  font-size: 3.8rem;
  list-style: none;
  padding: 0px 15px;
}
#nav ul.navigation li a:hover {
  color: #008e39;
}
#nav ul.icons {
  height: 34px;
  margin: 0px;
  padding: 0px;
}
#nav ul.icons li {
  display: inline-block;
  font-size: 2.4rem;
  list-style: none;
  padding: 0px 15px;
}
#nav ul.icons li svg {
  width: 50px;
  transition-duration: 0.3s;
}
#nav ul.icons li svg:hover {
  fill: #008e39;
}
#nav ul.icons li img:hover {
  opacity: 80%;
}
#nav.sticky {
  position: sticky;
  top: 0px;
}
#nav.sticky .logo {
  transform: scale(1.2);
}
#nav.sticky .logo,
#nav.sticky .navigation,
#nav.sticky .icons {
  margin-top: 10px;
}
#nav.open .navigation {
  display: flex;
  justify-content: center;
}
#nav.open .icons {
  display: flex;
  justify-content: center;
  height: 85px;
  padding: 20px;
  padding-bottom: 30px;
}
#nav .wave.bottom {
  z-index: -1;
}
@media only screen and (max-width: 1024px) {
  #nav {
    height: auto;
    display: block;
  }
  #nav #hamburger {
    display: flex;
  }
  #nav .navigation {
    background-color: white;
    display: none;
  }
  #nav .icons {
    background-color: white;
    display: none;
  }
}

.roundedImage {
  border-radius: 100%;
}

.wave {
  content: " ";
  left: 0;
  position: absolute;
  width: 100%;
  transform-origin: top;
  z-index: 1;
}
.wave.top {
  bottom: 99%;
}
.wave.bottom {
  top: 99%;
}

@media only screen and (min-width: 1024px) {
  .categorySlider li[style*="order: 1;"] img {
    width: 0%;
  }
  .categorySlider li[style*="order: 2;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 3;"] img {
    width: 80%;
  }
  .categorySlider li[style*="order: 4;"] img {
    width: 100%;
  }
  .categorySlider li[style*="order: 5;"] img {
    width: 80%;
  }
  .categorySlider li[style*="order: 6;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 7;"] img {
    width: 0%;
  }
  .categorySlider li[style*="order: 8;"] img {
    width: 0%;
  }
}
@media only screen and (max-width: 1024px) {
  .categorySlider li[style*="order: 1;"] img {
    width: 0%;
  }
  .categorySlider li[style*="order: 2;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 3;"] img {
    width: 80%;
  }
  .categorySlider li[style*="order: 4;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 5;"] img {
    width: 0%;
  }
  .categorySlider li[style*="order: 6;"] img {
    width: 0%;
  }
}
@media only screen and (max-width: 767px) {
  .categorySlider li[style*="order: 1;"] img {
    width: 0%;
  }
  .categorySlider li[style*="order: 2;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 3;"] img {
    width: 60%;
  }
  .categorySlider li[style*="order: 4;"] img {
    width: 0%;
  }
  .categorySlider li[style*="order: 5;"] img {
    width: 0%;
  }
}
.categorySlider .transition img {
  transition: width 0.5s ease;
}
@media only screen and (min-width: 1024px) {
  .categorySlider .transition.left[style*="order: 2;"] {
    opacity: 0%;
  }
  .categorySlider .transition.left[style*="order: 2;"] img {
    width: 0%;
  }
  .categorySlider .transition.left[style*="order: 3;"] img {
    width: 60%;
  }
  .categorySlider .transition.left[style*="order: 4;"] img {
    width: 80%;
  }
  .categorySlider .transition.left[style*="order: 5;"] img {
    width: 100%;
  }
  .categorySlider .transition.left[style*="order: 6;"] img {
    width: 80%;
  }
  .categorySlider .transition.left[style*="order: 7;"] img {
    width: 60%;
  }
}
@media only screen and (max-width: 1024px) {
  .categorySlider .transition.left[style*="order: 2;"] {
    opacity: 0%;
  }
  .categorySlider .transition.left[style*="order: 2;"] img {
    width: 0%;
  }
  .categorySlider .transition.left[style*="order: 3;"] img {
    width: 60%;
  }
  .categorySlider .transition.left[style*="order: 4;"] img {
    width: 80%;
  }
  .categorySlider .transition.left[style*="order: 5;"] img {
    width: 60%;
  }
}
@media only screen and (max-width: 767px) {
  .categorySlider .transition.left[style*="order: 2;"] {
    opacity: 0%;
  }
  .categorySlider .transition.left[style*="order: 2;"] img {
    width: 0%;
  }
  .categorySlider .transition.left[style*="order: 3;"] img {
    width: 60%;
  }
  .categorySlider .transition.left[style*="order: 4;"] img {
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .categorySlider .transition.right[style*="order: 1;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 2;"] img {
    width: 80%;
  }
  .categorySlider .transition.right[style*="order: 3;"] img {
    width: 100%;
  }
  .categorySlider .transition.right[style*="order: 4;"] img {
    width: 80%;
  }
  .categorySlider .transition.right[style*="order: 5;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 6;"] {
    opacity: 0%;
  }
  .categorySlider .transition.right[style*="order: 6;"] img {
    width: 0%;
  }
}
@media only screen and (max-width: 1024px) {
  .categorySlider .transition.right[style*="order: 1;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 2;"] img {
    width: 80%;
  }
  .categorySlider .transition.right[style*="order: 3;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 4;"] {
    opacity: 0%;
  }
  .categorySlider .transition.right[style*="order: 4;"] img {
    width: 0%;
  }
}
@media only screen and (max-width: 767px) {
  .categorySlider .transition.right[style*="order: 1;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 2;"] img {
    width: 60%;
  }
  .categorySlider .transition.right[style*="order: 3;"] {
    opacity: 0%;
  }
  .categorySlider .transition.right[style*="order: 3;"] img {
    width: 0%;
  }
}

* {
  box-sizing: border-box;
}

.categorySlider {
  margin: auto;
  display: flex;
  align-items: center;
  place-content: center;
}
.categorySlider .slider {
  height: 500px;
  overflow: hidden;
  width: 60vw;
}
.categorySlider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
@media only screen and (min-width: 1024px) {
  .categorySlider ul {
    transform: translateX(-20%);
  }
}
@media only screen and (max-width: 1024px) {
  .categorySlider ul {
    transform: translateX(-33.3333333333%);
  }
}
@media only screen and (max-width: 767px) {
  .categorySlider ul {
    transform: translateX(-50%);
  }
}
.categorySlider li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .categorySlider li {
    width: 20%;
  }
}
@media only screen and (max-width: 1024px) {
  .categorySlider li {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 767px) {
  .categorySlider li {
    width: 50%;
  }
}
.categorySlider li form,
.categorySlider li button {
  width: 100%;
}
.categorySlider li h3 {
  color: black;
  font-size: 3rem;
  margin: 0px;
  width: 100%;
  overflow: hidden;
}
.categorySlider button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.categorySlider .prev,
.categorySlider .next {
  height: 60px;
  width: 60px;
  min-width: 60px;
  background-color: #008e39;
  border-radius: 50%;
  cursor: pointer;
}
.categorySlider .prev img,
.categorySlider .next img {
  width: 100%;
  transform: translateY(3px);
}
.categorySlider .prev {
  transform: rotate(90deg);
}
.categorySlider .next {
  transform: rotate(-90deg);
}
.categorySlider .transition {
  transition: all 0.5s ease;
}
.categorySlider .transition.left {
  transform: translateX(-100%);
}
.categorySlider .transition.right {
  transform: translateX(100%);
}

.input-group {
  position: relative;
  margin-bottom: 30px;
  min-height: 60px;
  width: 100%;
}
.input-group .filled + label {
  color: #bbb;
  font-size: 1rem;
  top: 5px;
  left: 7px;
}
.input-group input + label {
  font-size: 1.8rem;
  position: absolute;
  top: 11px;
  left: 17px;
  transition-duration: 0.3s;
}

label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 10px;
  position: relative;
  text-align: left;
  width: 100%;
}

input {
  border: 2px solid;
  color: black;
  font-size: 1.8rem;
  padding: 15px;
  width: 100%;
}
input.filled {
  padding: 17px 15px 15px 5px;
}

select {
  border: 2px solid;
  font-size: 1.8rem;
  padding: 15px;
  width: 100%;
}

textarea {
  border: 2px solid;
  padding: 15px;
  width: 100%;
}

.checkbox-container {
  align-items: center;
  display: flex;
}
.checkbox-container input {
  display: none;
}
.checkbox-container .box {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 2px solid black;
  background: #eee;
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
}
.checkbox-container .box:hover {
  background-color: #ccc;
}
.checkbox-container span {
  padding-left: 20px;
}
.checkbox-container [type=checkbox]:checked + span:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 9px;
  width: 7px;
  height: 15px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

header {
  max-height: calc(100vh - 80px);
  overflow: hidden;
  position: relative;
}
header img.hero {
  filter: blur(8px) brightness(110%);
  margin-left: -15px;
  width: calc(100% + 30px);
}
header img.hero a {
  color: #008e39;
}
header .headerLeaf {
  position: absolute;
  filter: blur(5px);
}
header .headerLeaf:nth-of-type(1) {
  top: 0;
}
header .headerLeaf:nth-of-type(2) {
  top: 20vh;
  left: 80vw;
}
header .headerLeaf:nth-of-type(3) {
  top: 40vh;
  left: 40vw;
}
header .logoWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: 0% auto;
  position: absolute;
  right: 0;
  top: 25%;
  transform: translateY(-50%);
}
header .logoWrap .button {
  border-radius: 25px;
  font-size: 4rem;
  height: 100px;
  width: 200px;
}
header .logoWrap .heroLogo {
  margin-bottom: 30px;
}
header h2 {
  color: #ffffff;
  font-size: 5.5rem;
  text-align: center;
  margin-bottom: 40px;
}
header .header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
}
@media only screen and (min-width: 2000px) {
  header .header {
    top: 45%;
  }
}
header .header form {
  margin: auto;
}
header .header .button {
  font-size: 2.5rem;
  margin-top: 20px;
}
@media only screen and (max-width: 1024px) {
  header .header {
    display: none;
  }
}
header .about-wrapper {
  left: 0;
  margin-left: 10vw;
}
header .product-wrapper {
  right: 0;
  margin-right: 10vw;
}
@media only screen and (max-width: 1024px) {
  header .product-wrapper h2 {
    display: none;
  }
}
header .textbox {
  width: 30vw;
  height: 265px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  font-size: 2rem;
  opacity: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
header .textbox p {
  margin: 0px;
}
header .socials {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
}
header .socials img {
  padding: 15px;
}
header .scrollDown {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: auto;
  background: url("../img/icons/ic_arrow.svg") rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  transform: rotate(270deg);
  transition-duration: 0.3s;
}
header .scrollDown:hover {
  opacity: 50%;
}
header .imageWrap {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: white;
  overflow: hidden;
  display: flex;
  align-items: center;
}
header .productContainer {
  width: fit-content;
  user-select: none;
}
header .productContainer form {
  display: inline-block;
}
header .productContainer button {
  height: fit-content;
  padding: 0px;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease-in-out;
}
header .productContainer button:hover {
  transform: scale(1.1);
}
header .productContainer .product {
  display: inline-block;
  width: fit-content;
  margin: 0px 15px;
  cursor: pointer;
}
header .productContainer .product h3 {
  color: #ffffff;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  width: 150px;
  height: 60px;
  user-select: text;
}
header .productContainer .product p {
  color: #ffffff;
  font-size: 2.8rem;
  margin: 0;
  user-select: text;
}
header .productContainer .product .image-wrapper {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  background-color: #ffffff;
  overflow: hidden;
}
header .productContainer .product .image-wrapper .image {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 1024px) {
  header .productContainer {
    margin-top: 45%;
  }
}
@media only screen and (min-width: 1024px) {
  header .productContainer form {
    display: none;
  }
  header .productContainer form:first-of-type, header .productContainer form:nth-of-type(2) {
    display: inline-block;
  }
}
@media only screen and (min-width: 2000px) {
  header .productContainer form {
    display: inline-block;
  }
}

#main {
  /*Leaves*/
}
#main section {
  position: relative;
  background-color: white;
  padding-top: 85px;
  width: 100%;
}
#main section h2,
#main section h3 {
  text-align: center;
}
#main section .logo {
  display: inline-block;
  vertical-align: middle;
  margin-top: -35px;
}
#main section ul.navigation {
  display: inline-block;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  justify-content: start;
  margin: 0;
  align-items: center;
  flex-direction: row;
}
#main section ul.navigation li {
  display: inline-block;
  font-size: 2.4rem;
  list-style: none;
  padding: 15px;
}
#main section a {
  color: black;
}
#main section ul.icons {
  float: right;
  flex-direction: row;
}
#main section ul.icons li {
  display: inline-block;
  font-size: 2.4rem;
  list-style: none;
  padding: 15px;
}
#main section .circleWrap {
  margin: 0 auto;
  position: relative;
  width: 575px;
}
@media only screen and (max-width: 767px) {
  #main section .circleWrap {
    width: 450px;
  }
}
#main section .circleWrap #imgDrinkingTea {
  position: absolute;
  top: 10%;
  right: 510px;
}
@media only screen and (max-width: 767px) {
  #main section .circleWrap #imgDrinkingTea {
    display: none;
  }
}
#main section .circleWrap .circle {
  align-items: center;
  background-color: white;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  height: 575px;
  justify-content: center;
  padding: 70px;
  position: relative;
  width: 575px;
}
@media only screen and (max-width: 767px) {
  #main section .circleWrap .circle {
    height: 450px;
    width: 450px;
  }
}
#main section .circleWrap .circle h3 {
  font-size: 5rem;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  #main section .circleWrap .circle h3 {
    margin: 10px;
  }
}
#main section .circleWrap .circle p {
  font-size: 1.8rem;
  text-align: center;
}
#main section .value-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
#main section .value-wrapper .value-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  text-align: center;
  height: 100%;
  width: 20%;
}
#main section .value-wrapper .value-block h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0;
}
#main section .value-wrapper .value-block p {
  margin-top: 0;
  text-align: center;
}
#main section .value-wrapper + a {
  margin: 0px;
  display: flex;
  justify-content: center;
}
#main #intro-wrapper .bubble {
  background: #ffffff;
  border-radius: 100%;
  height: 50px;
  position: absolute;
  width: 50px;
}
#main #intro-wrapper .bubble:nth-child(2) {
  background-color: #dce9cc;
  right: 30vw;
  bottom: 250px;
}
@media only screen and (max-width: 1024px) {
  #main #intro-wrapper .bubble:nth-child(2) {
    right: 30vw;
    bottom: 120px;
  }
}
#main #intro-wrapper .bubble:nth-child(3) {
  background-color: #dce9cc;
  right: 26vw;
  transform: scale(2);
  bottom: 180px;
}
@media only screen and (max-width: 1024px) {
  #main #intro-wrapper .bubble:nth-child(3) {
    right: 13vw;
    bottom: 80px;
  }
}
#main .testimonial-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .testimonial-wrapper .bubble {
  background: #ffffff;
  border-radius: 100%;
  height: 50px;
  position: absolute;
  width: 50px;
}
#main .testimonial-wrapper .bubble:nth-child(1) {
  left: 10vw;
  bottom: 200px;
}
@media only screen and (max-width: 1024px) {
  #main .testimonial-wrapper .bubble:nth-child(1) {
    right: 30vw;
    bottom: 120px;
  }
}
#main .testimonial-wrapper .bubble:nth-child(2) {
  left: 27vw;
  transform: scale(2);
  bottom: 520px;
}
@media only screen and (max-width: 1024px) {
  #main .testimonial-wrapper .bubble:nth-child(2) {
    right: 13vw;
    left: auto;
    bottom: 80px;
  }
}
#main .testimonial-wrapper div {
  margin: 0px 0px 0px 200px;
  text-align: left;
}
#main .testimonial-wrapper div h3 {
  text-align: left;
}
@media only screen and (max-width: 1024px) {
  #main .testimonial-wrapper div {
    flex-direction: column;
    align-items: center;
  }
  #main .testimonial-wrapper div .value-block {
    width: 100%;
  }
  #main .testimonial-wrapper div + a {
    margin: 0px;
  }
}
#main .testimonial-wrapper div {
  margin: 0px 0px 0px 200px;
}
#main .testimonial-wrapper div h3,
#main .testimonial-wrapper div p {
  text-align: left;
}
@media only screen and (max-width: 1024px) {
  #main .testimonial-wrapper {
    flex-direction: column;
  }
  #main .testimonial-wrapper div {
    margin: 50px 0;
  }
  #main .testimonial-wrapper h3 {
    font-size: 3rem;
  }
}
#main .textured {
  background: #fff4df url("../img/leaf_texture.png");
  height: 800px;
  padding-top: 85px;
}
#main .green {
  background-color: #dce9cc;
  height: 700px;
}
@media only screen and (max-width: 767px) {
  #main .green {
    height: 800px;
  }
}
#main .green h1 {
  text-align: center;
  font-size: 5.5rem;
}
#main .white {
  background-color: white;
  height: 800px;
  padding-top: 85px;
}
#main .white h1 {
  text-align: center;
  font-size: 5.5rem;
  color: black;
}
#main .texturedGreen {
  background: #dce9cc url("../img/leaf_texture.png");
  height: 800px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
#main .texturedGreen p {
  text-align: center;
  font-size: 2.5rem;
}
#main .color-green {
  background-color: #dce9cc;
}
#main #leaf {
  position: absolute;
  top: -40px;
  transform: scale(0.8);
}
#main #leaf2 {
  position: absolute;
  top: 0px;
  transform: translateY(-160px) rotate(-50deg) scale(0.6);
  z-index: 2;
  left: 10%;
}
@media only screen and (max-width: 1024px) {
  #main #leaf2 {
    left: 0%;
  }
}
#main #leaf3 {
  position: absolute;
  top: 350px;
  transform: scale(0.6) rotate(-140deg);
  z-index: 2;
  left: 200;
}
#main #leaf4 {
  position: absolute;
  top: 0px;
  transform: translateY(-160px) rotate(-95deg);
  z-index: 2;
  right: 15%;
}
@media only screen and (max-width: 1024px) {
  #main #leaf4 {
    right: 0%;
  }
}
#main #leaf5 {
  position: absolute;
  top: 110%;
  transform: translateY(-160px);
  z-index: 2;
  right: 200px;
}
#main #leaf6 {
  position: absolute;
  top: 230%;
  transform: translateY(-160px) rotate(180deg) scale(0.8);
  z-index: 2;
  left: 8%;
}
#main #leaf7 {
  position: absolute;
  top: 210%;
  transform: translateY(-160px) rotate(300deg) scale(0.7);
  z-index: 2;
  left: 60%;
}
#main #leaf8 {
  position: absolute;
  top: 325%;
  transform: translateY(-160px) rotate(-50deg) scale(0.6);
  z-index: 2;
  left: -5%;
}
#main #leaf9 {
  position: absolute;
  top: 300%;
  transform: translateY(-160px) rotate(220deg) scale(0.7);
  z-index: 2;
  right: 4%;
}
@media only screen and (max-width: 1024px) {
  #main #leaf,
#main #leaf3,
#main #leaf6,
#main #leaf7,
#main #leaf8,
#main #leaf9 {
    display: none;
  }
}

#product {
  min-height: auto;
}
#product .product-wrapper {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}
#product .product-wrapper .spacer {
  width: 100%;
  height: 20vh;
  margin: 20px 0px;
}
#product .product-wrapper .productName {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 5rem;
}
#product .product-wrapper .image-wrapper {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}
#product .product-wrapper .image-wrapper img {
  width: 100%;
}
#product .product-wrapper .productDescription {
  margin-left: 5vw;
}
#product .product-wrapper .productDescription .productBody {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 20px;
  padding: 40px 30px;
  height: 500px;
  display: flex;
  flex-direction: column;
  place-content: space-between;
}
#product .product-wrapper .productDescription .productBody .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
#product .product-wrapper .productDescription .productBody .stars hr {
  margin: 0px;
  width: 100%;
  height: 1px;
  border-color: #008e39;
  border-radius: 1px;
}
#product .product-wrapper .productDescription .productBody .stars img {
  width: 2vw;
}
#product .product-wrapper .productDescription .productBody .stars img:first-of-type {
  margin-left: 10px;
}
#product .product-wrapper .productDescription .productBody .stars img:last-of-type {
  margin-right: 10px;
}
#product .product-wrapper .productDescription .productBody .description {
  flex-grow: 1;
}
#product .product-wrapper .productDescription .productBody .description h3 {
  margin: 0px;
  font-size: 4rem;
}
#product .product-wrapper .productDescription .productBody .description p {
  margin: 10px 0px;
  max-height: 150px;
  overflow: hidden;
}
#product .product-wrapper .productDescription .productBody .price {
  text-align: center;
}
#product .product-wrapper .productDescription .productBody .price p {
  font-size: 5rem;
  margin: 20px 0px;
}
#product .product-wrapper .productDescription .productBody .cart {
  display: flex;
  margin: auto;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
#product .product-wrapper .productDescription .productBody .cart form {
  display: contents;
}
#product .product-wrapper .productDescription .productBody .cart .plusminus {
  width: 30px;
  background-color: white;
  border: none;
  cursor: pointer;
}
#product .product-wrapper .productDescription .productBody .cart #num {
  width: 30px;
  background-color: white;
  text-align: center;
  border: none;
  padding: 0px;
}
#product .product-wrapper .productDescription .productBody .cart #num:focus {
  outline: none;
}
#product .product-wrapper .productDescription .productBody .cart .cartButton {
  height: inherit;
  width: 100px;
  background-color: #dce9cc;
  border: none;
  border-left: 1px solid black;
  cursor: pointer;
}
#product .product-wrapper .productDescription .productBody .cart .cartButton img {
  height: 60%;
}

#shop .search {
  display: flex;
  width: fit-content;
  height: 50px;
  margin: 100px auto;
}
#shop .search input {
  min-width: 20vw;
  max-width: 80vw;
  font-size: 1.8rem;
  padding: 0px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#shop .search input:focus {
  outline: none;
}
#shop .search button {
  width: 5vw;
  min-width: 100px;
  font-size: 1.8rem;
  margin-left: 10px;
  padding: 0px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#shop .categoryContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
#shop .categoryContainer form {
  display: inline-block;
  margin: 0px 20px;
}
#shop .categoryContainer form.selected button {
  opacity: 100%;
}
#shop .categoryContainer form:hover {
  transform: scale(1.01);
}
#shop .categoryContainer button {
  width: 10vw;
  border: none;
  border-radius: 40px;
  background-color: #ffffff;
  cursor: pointer;
  opacity: 80%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
#shop .categoryContainer button:hover {
  transform: scale(1.1);
  opacity: 100%;
}
#shop .categoryContainer .category {
  display: flex;
}
#shop .categoryContainer .category h3 {
  width: 100%;
  font-size: 3rem;
  margin: 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
#shop .categoryContainer .category .image-wrapper {
  width: 60px;
  display: block;
  overflow: hidden;
  margin-left: 5px;
}
#shop .categoryContainer .category .image-wrapper .image {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 1024px) {
  #shop .categoryContainer {
    align-items: center;
    flex-direction: column;
  }
  #shop .categoryContainer button {
    margin: 5px 0;
    width: 50vw;
  }
}
#shop .currentCategory {
  text-align: center;
  margin: 100px 0px;
  font-size: 5rem;
}
#shop .productsContainer {
  width: 70%;
  margin: auto;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20vw);
  justify-content: center;
}
#shop .productsContainer form {
  margin: 10px;
  transition: 0.3s;
}
#shop .productsContainer form:hover {
  transform: scale(1.01);
}
#shop .productsContainer button {
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 20px;
  overflow: hidden;
}
#shop .productsContainer .product h3 {
  font-size: 3.4rem;
  margin: 0px;
  padding: 10px;
  height: 100px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  place-content: center;
  margin-top: -40px;
}
#shop .productsContainer .product .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px 10px;
}
#shop .productsContainer .product .stars hr {
  margin: 0px;
  width: 100%;
  height: 1px;
  border-color: #008e39;
  border-radius: 1px;
}
#shop .productsContainer .product .stars img {
  width: 2vw;
}
#shop .productsContainer .product .stars img:first-of-type {
  margin-left: 10px;
}
#shop .productsContainer .product .stars img:last-of-type {
  margin-right: 10px;
}
#shop .productsContainer .product p {
  margin: 0px;
  padding: 10px;
  font-size: 3rem;
}
#shop .productsContainer .product .image-wrapper {
  width: 80%;
  margin: auto;
}
#shop .productsContainer .product .image-wrapper .image {
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  #shop .productsContainer {
    width: 100%;
    grid-template-columns: repeat(auto-fill, 45vw);
  }
}
@media only screen and (max-width: 767px) {
  #shop .productsContainer {
    grid-template-columns: repeat(auto-fill, 80vw);
  }
}

#contact {
  align-items: center;
  display: flex;
  justify-content: center;
}
#contact .contact-wrapper {
  display: block;
  height: auto;
  max-width: 700px;
  padding: 30px;
  position: relative;
  width: 100%;
}
#contact .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registration {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: auto;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
}
#registration .registration-wrapper {
  display: flex;
  height: auto;
  width: 2040px;
  padding: 30px;
  position: relative;
  transform: translateX(670px);
  transition-duration: 0.3s;
}
#registration .registration-wrapper form {
  margin-right: 30px;
}
#registration .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#registration .inputContainer {
  width: 100%;
}
#registration .inputContainer input {
  margin-bottom: 25px;
  min-height: 60px;
  border: 2px solid;
}
#registration .button {
  width: 100px;
}
#registration #registration-login {
  width: 640px;
  display: inline-block;
}
#registration #registration-adress {
  width: 640px;
  display: inline-block;
}
#registration #registration-complete {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 640px;
}
#registration #registration-complete p {
  text-align: center;
}

#cart {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}
#cart .title {
  text-align: center;
  font-size: 5rem;
  position: absolute;
}
#cart .emptyCart {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
#cart .emptyCart .text-wrapper {
  width: 500px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#cart .emptyCart .text-wrapper p {
  margin: 0px;
}
#cart .emptyCart .text-wrapper button {
  margin-top: 20px;
  width: 100px;
}

/*# sourceMappingURL=main.css.map */
