$primary-color: #008e39;
$soft-green: #DCE9CC;
$beige: #fff4df;

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-weight: 700;
    font-size: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
}

button {
    background-color: $primary-color;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    font-family: "Amatic SC", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 15px;
    transition-duration: 0.3s;
    &:hover {
        background-color: darken($color: $primary-color, $amount: 10);
        transition-duration: 0.3s;
    }
}

a {
    color: $primary-color;
    text-decoration: none;
}

.spacerS {
    display: block;
    height: 15px;
    width: 100%;
}

.spacerM {
    display: block;
    height: 30px;
    width: 100%;
}

.spacerL {
    display: block;
    height: 50px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
}

//Navigation

nav {
    background-color: white;
    padding: 0 50px;
    position: relative;
    width: 100%;
    z-index: 100;
    .logo {
        display: inline-block;
        vertical-align: middle;
        margin-top: -35px;
    }
    ul.navigation {
        display: inline-block;
        font-family: "Amatic SC", sans-serif;
        font-weight: 700;
        justify-content: start;
        margin: 0;
        align-items: center;
        flex-direction: row;
        li {
            display: inline-block;
            font-size: 2.4rem;
            list-style: none;
            padding: 15px;
            z-index: 2;
        }
    }
    a {
        color: black;
    }
    ul.icons {
        float: right;
        flex-direction: row;
        li {
            display: inline-block;
            font-size: 2.4rem;
            list-style: none;
            padding: 15px;
            z-index: 2;
        }
    }
    .waveTop {
        z-index: -1;
    }
}

main {
}

//Footer

footer {
    display: block;
    position: relative;
}

//Home Page

header {
    max-height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    img.hero {
        filter: blur(8px) brightness(110%);
        margin-left: -15px;
        width: calc(100% + 30px);
        a {
            color: $primary-color;
        }
    }
    .logoWrap {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        margin: 0% auto;
        position: absolute;
        right: 0;
        top: 25%;
        transform: translateY(-50%);
        button {
            font-size: 2.4rem;
        }
    }
    .headerProducts {
        position: absolute;
        right: 20px;
        top: 50%;
        width: 40vw;
        h2 {
            color: #ffffff;
            font-size: 3rem;
            text-shadow: 0 0 5px rgba(0,0,0,0.3);
        }
    }
}

//Sections

section {
    background-color: white;
    .circle {
        background-color: white;
        border-radius: 100%;
        height: 575px;
        width: 575px;
    }
}
.textured {
    background: $beige url("../img/leaf_texture.png");
    height: 800px;
}
.green {
    background-color: $soft-green;
}
.textured.green {
    background: $soft-green url("../img/leaf_texture.png");
}

//Products

.imageWrap {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: white;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.product {
    display: inline-block;
    padding: 15px;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
    h3 {
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
    }
    p {
        color: #ffffff;
        font-family: "Amatic SC", sans-serif;
        font-size: 2.4rem;
        font-weight: 700;
        margin: 0;
    }

    .image-wrapper {
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 50%;
        background-color: #ffffff;
        overflow: hidden;

        .image {
            width: 100%;
            height: auto;
            transform: translateY(25%);
        }
    }
}

.waveTop {
    bottom: 100%;
    content: " ";
    left: 0;
    position: absolute;
    width: 100%;
}

.waveBottom {
    content: " ";
    left: 0;
    position: absolute;
    width: 100%;
    top: 100%;
}

// Media Queries

@media only screen and (max-width: 1000px) {
    .hiddenS {
        display: none;
    }
}