$primary-color: #008e39;
$soft-green: #dce9cc;
$beige: #fff4df;

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-weight: 700;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
}

button {
    background-color: $primary-color;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    font-family: "Amatic SC", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 15px;
    transition-duration: 0.3s;

    &:hover {
        background-color: darken($color: $primary-color, $amount: 10);
        transition-duration: 0.3s;
    }
}

a {
    color: $primary-color;
    text-decoration: none;
}

.spacerS {
    display: block;
    height: 15px;
    width: 100%;
}

.spacerM {
    display: block;
    height: 30px;
    width: 100%;
}

.spacerL {
    display: block;
    height: 50px;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
}

nav {
    background-color: white;
    padding: 0 50px;
    position: relative;
    width: 100%;
    z-index: 2;

    .logo {
        display: inline-block;
        vertical-align: middle;
        margin-top: -35px;
    }

    ul.navigation {
        display: inline-block;
        font-family: "Amatic SC", sans-serif;
        font-weight: 700;
        justify-content: start;
        margin: 0;
        align-items: center;
        flex-direction: row;

        li {
            display: inline-block;
            font-size: 2.4rem;
            list-style: none;
            padding: 15px;
        }
    }

    a {
        color: black;
    }

    ul.icons {
        float: right;
        flex-direction: row;

        li {
            display: inline-block;
            font-size: 2.4rem;
            list-style: none;
            padding: 15px;
        }
    }
}

//Footer

footer {
    display: block;
    position: relative;
}

//Home Page

header {
    max-height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;

    img.hero {
        filter: blur(8px) brightness(110%);
        margin-left: -15px;
        width: calc(100% + 30px);

        a {
            color: $primary-color;
        }
    }

    .logoWrap {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        margin: 0% auto;
        position: absolute;
        right: 0;
        top: 25%;
        transform: translateY(-50%);
        button {
            font-size: 2.4rem;
        }

        .heroLogo {
            margin-bottom: 30px;
        }
    }

    h2 {
        color: #ffffff;
        font-size: 3.5rem;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        text-align: center;
        margin-bottom: 30px;
    }

    .headerAbout {
        position: absolute;
        top: 40%;
        left: 0;
        margin-left: 10vw;
    }

    .headerProducts {
        position: absolute;
        top: 40%;
        right: 0;
        margin-right: 10vw;
    }

    .textbox {
        width: 30vw;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 20px;
        font-size: 1.2rem;
        opacity: 80%;

        p {
            margin: 0px;
        }
    }
}

//Sections

section {
    background-color: white;
    padding: 0 50px;
    position: relative;
    width: 100%;

    .logo {
        display: inline-block;
        vertical-align: middle;
        margin-top: -35px;
    }

    ul.navigation {
        display: inline-block;
        font-family: "Amatic SC", sans-serif;
        font-weight: 700;
        justify-content: start;
        margin: 0;
        align-items: center;
        flex-direction: row;

        li {
            display: inline-block;
            font-size: 2.4rem;
            list-style: none;
            padding: 15px;
        }
    }

    a {
        color: black;
    }

    ul.icons {
        float: right;
        flex-direction: row;

        li {
            display: inline-block;
            font-size: 2.4rem;
            list-style: none;
            padding: 15px;
        }
    }

    .circle {
        align-items: center;
        background-color: white;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        height: 575px;
        justify-content: center;
        margin-bottom: 5px;
        padding: 15px;
        padding: 70px;
        width: 575px;

        h3 {
            font-size: 5rem;
            text-align: center;
        }

        p {
            font-size: 1.8rem;
            text-align: center;
        }
    }
}

.textured {
    background: $beige url("../img/leaf_texture.png");
    height: 800px;
}

.green {
    background-color: $soft-green;
}

.textured.green {
    background: $soft-green url("../img/leaf_texture.png");
}

//Products

.imageWrap {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: white;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.product {
    display: inline-block;
    width: fit-content;
    margin: 0px 15px;

    h3 {
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 0px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    p {
        font-size: 2.4rem;
        color: #ffffff;
        font-family: "Amatic SC", sans-serif;
        font-size: 2.4rem;
        font-weight: 700;
        margin: 0;
    }

    .image-wrapper {
        width: 150px;
        height: 150px;
        display: block;
        border-radius: 50%;
        background-color: #ffffff;
        overflow: hidden;
        opacity: 80%;

        .image {
            width: 80%;
            height: auto;
            margin: auto;
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.waveTop {
    content: " ";
    left: 0;
    bottom: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.waveBottom {
    content: " ";
    left: 0;
    top: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

// Media Queries

@media only screen and (max-width: 1000px) {
    .hiddenS {
        display: none;
    }
}
