#cart {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;

    .title {
        text-align: center;
        font-size: 5rem;
        position: absolute;
    }

    .fullCart {
        margin-top: 130px;

        .product {
            width: 500px;
            height: 100px;
            background-color: white;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            margin-bottom: 20px;

            .left {
                height: 100%;
                display: flex;
                align-items: center;

                .image-wrapper {
                    height: 100%;

                    img {
                        height: 100%;
                    }
                }

                .name {
                    font-size: 3rem;
                    margin: 0px 10px;
                }
            }

            .amount {
                display: flex;
                margin: auto;
                height: 30px;
                border: 1px solid black;
                border-radius: 5px;
                overflow: hidden;
                margin: 0px;

                .plusminus {
                    width: 30px;
                    background-color: $soft-green;
                    border: none;
                    cursor: pointer;
                }

                .num {
                    width: 30px;
                    background-color: $soft-green;
                    text-align: center;
                    border: none;
                    padding: 0px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .emptyCart {
        display: flex;
        flex-grow: 1;
        align-items: center;

        .text-wrapper {
            width: 500px;
            height: 200px;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                margin: 0px;
            }

            button {
                margin-top: 20px;
                width: 100px;
            }
        }
    }
}
