header {
    max-height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;

    img.hero {
        filter: blur(8px) brightness(110%);
        margin-left: -15px;
        width: calc(100% + 30px);

        a {
            color: $primary-color;
        }
    }

    .headerLeaf {
        position: absolute;
        filter: blur(5px);
        &:nth-of-type(1) {
            top: 0;
        }
        &:nth-of-type(2) {
            top: 20vh;
            left: 80vw;
        }
        &:nth-of-type(3) {
            top: 40vh;
            left: 40vw;
        }
    }

    .logoWrap {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        margin: 0% auto;
        position: absolute;
        right: 0;
        top: 25%;
        transform: translateY(-50%);

        .button {
            border-radius: 25px;
            font-size: 4rem;
            height: 100px;
            width: 200px;
        }

        .heroLogo {
            margin-bottom: 30px;
        }
    }

    h2 {
        color: #ffffff;
        font-size: 5.5rem;
        text-align: center;
        margin-bottom: 40px;
    }

    .header {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20%;

        @include responsive_largeScreen() {
            top: 45%;
        }

        form {
            margin: auto;
        }

        .button {
            font-size: 2.5rem;
            margin-top: 20px;
        }

        @include responsive_tablet() {
            display: none;
        }
    }

    .about-wrapper {
        left: 0;
        margin-left: 10vw;
    }

    .product-wrapper {
        right: 0;
        margin-right: 10vw;
    }

    .textbox {
        width: 30vw;
        height: 265px; // Same height as product view
        background-color: #ffffff;
        padding: 20px;
        border-radius: 20px;
        font-size: 2rem;
        opacity: 80%;
        overflow: hidden;
        text-overflow: ellipsis;

        p {
            margin: 0px;
        }
    }

    .socials {
        position: absolute;
        top: 0;
        right: 0;
        padding: 30px;

        img {
            padding: 15px;
        }
    }

    .scrollDown {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        margin: auto;
        background: url("../img/icons/ic_arrow.svg") rgba(255, 255, 255, 0.2);
        background-repeat: no-repeat;
        background-size: 32px;
        background-position: center;
        transform: rotate(270deg);
        transition-duration: 0.3s;

        &:hover {
            opacity: 50%;
        }
    }
}

.imageWrap {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: white;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.productContainer {
    width: fit-content;
    user-select: none;

    form {
        display: inline-block;
    }

    button {
        height: fit-content;
        padding: 0px;
        background-color: transparent;
        border: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    .product {
        display: inline-block;
        width: fit-content;
        margin: 0px 15px;
        cursor: pointer;

        h3 {
            color: #ffffff;
            font-size: 2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap;
            margin: 10px 0px;
            display: flex;
            align-items: center;
            width: 150px;
            height: 60px;
            user-select: text;
        }

        p {
            color: #ffffff;
            font-size: 2.8rem;
            margin: 0;
            user-select: text;
        }

        .image-wrapper {
            width: 150px;
            height: 150px;
            display: block;
            border-radius: 50%;
            background-color: #ffffff;
            overflow: hidden;

            .image {
                width: 80%;
                height: auto;
                margin: auto;
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

section {
    position: relative;
    background-color: white;
    padding-top: 85px;
    width: 100%;

    h2,
    h3 {
        text-align: center;
    }

    .logo {
        display: inline-block;
        vertical-align: middle;
        margin-top: -35px;
    }

    ul.navigation {
        display: inline-block;
        font-family: "Amatic SC", sans-serif;
        font-weight: 700;
        justify-content: start;
        margin: 0;
        align-items: center;
        flex-direction: row;

        li {
            display: inline-block;
            font-size: 2.4rem;
            list-style: none;
            padding: 15px;
        }
    }

    a {
        color: black;
    }

    ul.icons {
        float: right;
        flex-direction: row;

        li {
            display: inline-block;
            font-size: 2.4rem;
            list-style: none;
            padding: 15px;
        }
    }

    .circleWrap {
        margin: 0 auto;
        position: relative;
        width: 575px;

        @include responsive_mobile() {
            width: 450px;
        }

        #imgDrinkingTea {
            position: absolute;
            top: 10%;
            right: 510px;
            @include responsive_mobile() {
                display: none;
            }
        }

        .circle {
            align-items: center;
            background-color: white;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            height: 575px;
            justify-content: center;
            padding: 70px;
            position: relative;
            width: 575px;

            @include responsive_mobile() {
                height: 450px;
                width: 450px;
            }

            h3 {
                font-size: 5rem;
                text-align: center;

                @include responsive_mobile() {
                    margin: 10px;
                }
            }

            p {
                font-size: 1.8rem;
                text-align: center;
            }
        }
    }
    .bubble {
        background: #ffffff;
        border-radius: 100%;
        height: 50px;
        position: absolute;
        width: 50px;

        &:nth-child(2) {
            background-color: $soft-green;
            right: 30vw;
            bottom: 250px;
            @include responsive_tablet() {
                right: 30vw;
                bottom: 120px;
            }
        }
        &:nth-child(3) {
            background-color: $soft-green;
            right: 26vw;
            transform: scale(2);
            bottom: 180px;

            @include responsive_tablet() {
                right: 13vw;
                bottom: 80px;
            }
        }
    }
    .value-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;

        .value-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 150px;
            margin: 0px 30px;
            width: 20%;

            h3 {
                font-family: "Open Sans", sans-serif;
                font-size: 1.8rem;
                font-weight: 700;
                margin-bottom: 0;
            }

            p {
                margin-top: 0;
            }
        }

        & + a {
            display: flex;
            justify-content: center;
            margin: 100px 0px 0px 0px;
        }
    }
    .testimonial-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            margin: 0px 0px 0px 200px;
        }
    }
}

.textured {
    background: $beige url("../img/leaf_texture.png");
    height: 800px;
    padding-top: 85px;
}

.green {
    background-color: $soft-green;
    height: 800px;

    h1 {
        text-align: center;
        font-size: 5.5rem;
    }
}

.white {
    background-color: white;
    height: 800px;
    padding-top: 85px;

    h1 {
        text-align: center;
        font-size: 5.5rem;
        color: black;
    }
}

.texturedGreen {
    background: $soft-green url("../img/leaf_texture.png");
    height: 800px;
    display: flex;
    justify-content: center;
    flex-flow: column;

    p {
        text-align: center;
        font-size: 2.5rem;
    }
}

.color-green {
    background-color: $soft-green;
}

/*Leaves*/

#leaf {
    position: absolute;
    top: 0px;
    transform: scale(0.8);
}

#leaf2 {
    position: absolute;
    top: 0px;
    transform: translateY(-160px) rotate(-50deg) scale(0.6);
    z-index: 2;
    left: 200px;
}

#leaf3 {
    position: absolute;
    top: 350px;
    transform: scale(0.6) rotate(-140deg);
    z-index: 2;
    left: 200;
}

#leaf4 {
    position: absolute;
    top: 0px;
    transform: translateY(-160px) rotate(-50deg);
    z-index: 2;
    right: 200px;
}

#leaf5 {
    position: absolute;
    top: 852px;
    transform: translateY(-160px);
    z-index: 2;
    right: 200px;
}
