label {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    width: 100%;
}

input {
    position: relative;
    width: 100%;
    color: black;
    font-size: 1.8rem;
    padding: 15px;

    &:focus {
        outline: none;
    }
}

select {
    border: 2px solid;
    font-size: 1.8rem;
    padding: 15px;
    width: 100%;
}

textarea {
    border: 2px solid;
    padding: 15px;
    width: 100%;
}

.checkbox-container {
    align-items: center;
    display: flex;

    input {
        display: none;
    }

    // Styling of custom checkbox
    .box {
        cursor: pointer;
        height: 30px;
        width: 30px;
        border: 2px solid black;
        background: #eee;
        display: inline-block;
        position: relative;
        transition-duration: 0.3s;
        &:hover {
            background-color: #ccc;
        }
    }

    span {
        padding-left: 20px;
    }

    // Styling of custom checkmark
    [type="checkbox"]:checked + span:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 9px;
        width: 7px;
        height: 15px;
        border: solid black;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}
