#nav {
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 2;

    #hamburger {
        align-items: center;
        display: none;
        float: right;
        flex-direction: column;
        height: 50px;
        justify-content: center;
        margin-top: 5px;
        margin-right: 50px;
        width: 50px;

        span {
            height: 4px;
            background-color: black;
            width: 100%;
            border-radius: 9px;
            margin-top: 11px;
        }
    }

    a {
        z-index: 99;
        cursor: pointer;
    }

    .logo {
        width: 70px;
        margin-left: 50px;
        padding: 8px;
    }

    ul.navigation {
        margin: 0px;
        margin-right: auto;
        padding: 0px 50px;

        li {
            display: inline-block;
            font-size: 3.8rem;
            list-style: none;
            padding: 0px 15px;
        }
    }

    a {
        color: black;
    }

    ul.icons {
        margin: 0px;
        padding: 0px;

        li {
            display: inline-block;
            font-size: 2.4rem;
            list-style: none;
            padding: 0px 15px;
            height: 34px;
        }
    }

    &.sticky {
        position: sticky;
        top: 0px;
    }

    &.open {
        .navigation {
            border-top: 2px solid #eee;
            display: flex;
            justify-content: center;
            padding: 30px;
        }
        .icons {
            border-top: 2px solid #eee;
            display: flex;
            justify-content: center;
            padding: 30px;
        }
    }

    @include responsive_tablet() {
        height: auto;
        display: block;

        #hamburger {
            display: flex;
        }

        .navigation {
            background-color: white;
            display: none;
        }

        .icons {
            background-color: white;
            display: none;
        }
    }
}
