#nav {
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 100;
    user-select: none;

    #hamburger {
        align-items: center;
        cursor: pointer;
        display: none;
        float: right;
        flex-direction: column;
        height: 50px;
        justify-content: center;
        margin-top: 5px;
        margin-right: 50px;
        width: 50px;

        span {
            height: 4px;
            background-color: black;
            width: 100%;
            border-radius: 9px;
            margin-top: 11px;
        }
    }

    a {
        color: black;
        z-index: 99;
        cursor: pointer;
        display: inline-flex;
        transition-duration: 0.3s;
    }

    .logo {
        width: 70px;
        margin-left: 50px;
        padding: 8px;
        z-index: 2;
    }

    ul.navigation {
        margin: 0px;
        margin-right: auto;
        padding: 0px 50px;
        z-index: 2;

        li {
            display: inline-block;
            font-size: 3.8rem;
            list-style: none;
            padding: 0px 15px;

            a:hover {
                color: $primary-color;
            }
        }
    }

    ul.icons {
        height: 34px;
        margin: 0px;
        padding: 0px;

        li {
            display: inline-block;
            font-size: 2.4rem;
            list-style: none;
            padding: 0px 15px;
            svg {
                width: 50px;
                transition-duration: 0.3s;
                &:hover {
                    fill: $primary-color;
                }
            }

            img:hover {
                opacity: 80%;
            }
        }
    }

    &.sticky {
        position: sticky;
        top: 0px;

        .logo {
            transform: scale(1.2);
        }

        .logo,
        .navigation,
        .icons {
            margin-top: 10px;
        }
    }

    &.open {
        .navigation {
            display: flex;
            justify-content: center;
        }

        .icons {
            display: flex;
            justify-content: center;
            height: 85px;
            padding: 20px;
            padding-bottom: 30px;
        }
    }

    .wave.bottom {
        z-index: -1;
    }

    @include responsive_tablet() {
        height: auto;
        display: block;

        #hamburger {
            display: flex;
        }

        .navigation {
            background-color: white;
            display: none;
        }

        .icons {
            background-color: white;
            display: none;
        }
    }
}
