.spacerS {
    display: block;
    height: 15px;
    width: 100%;
}

.spacerM {
    display: block;
    height: 30px;
    width: 100%;
}

.spacerL {
    display: block;
    height: 50px;
    width: 100%;
}
