.wave {
    content: " ";
    left: 0;
    position: absolute;
    width: 100%;
    transform-origin: top;
    z-index: 1;

    &.top {
        bottom: 99%; // not 100% to avoid line in wave in certain resolutions 
    }

    &.bottom {
        top: 99%; // not 100% to avoid line in wave in certain resolutions 
    }
}
