* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-weight: 700;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
}

a {
    color: $primary-color;
    text-decoration: none;
}
