* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-weight: 700;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    background-color: $soft-green;
}

a {
    color: $primary-color;
    text-decoration: none;
}
