@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.amatic {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.opensans {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.text-shadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
